.card-container {
  max-width: 600px;
  margin: auto;
  padding: 100px 20px;
  
}

.card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  background:#fffcfc;
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #666;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-footer span {
  color: #aaa;
}

.card-link {
  display: inline-block;
  margin-top: 20px;
  color: #F06000;
  text-decoration: none;
  font-weight: bold;
}
